body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(72.89deg, #0A0E12 0.63%, #27313A 100%);
}

.container {
    text-align: center;
}

.row {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.main-block {
}
.card {
    margin: 0 auto;
    border-radius: 16px;
    padding: 35px 0;
    max-width: 700px;
}

h1 {
    color: #fbfafb;
    letter-spacing:0.03em;
}

.form {
    display: flex;
    justify-content: center;
}

.unentered-value {
    border: 2px solid red;
}

.form input:first-child {
    margin-right: 10px;
    width: 340px;
}

.form input[type="text"] {
    padding: 0px 5px;
}

.form #details-btn {
        
}


.form #hight-priority-btn:hover {

}



#btn {
    font-family: 'Roboto', sans-serif;
    color: #fbfafb;
    font-size: 14px;
    border-radius: 4px;
    background-color: #0081be;
    border-color: transparent;
    padding: 12px 14px;
    border-width: 0;
    cursor: pointer;
    letter-spacing:0.06em;
    position: relative;
    overflow: hidden;
}

#btn:focus {
    outline: none;
}

#btn .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;
}


.block-with-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-with-checkbox p {
    color: #fff;
    margin-right: 5px;
}

.list-block {
    display: flex;
}

.list {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    max-width: 580px;
    text-align: left;
}

.list > li {
    background-color: #4e4e5cc7;
    border-radius: 5px;
    padding: 10px 8px;
    margin: 0 auto;
    margin-top: 10px;
    color: #d9d9dc;
    max-width: 498px;
    position: relative;
    cursor: pointer;
}

.list > li > button {
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
}

#first-item {
    display: none;
}
.block-affairs {
    color: #fff;
    margin-top: 35px;
}
#details-btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    line-height:1em;
    letter-spacing:0.06em;
    font-weight:normal;
    font-size:16px;
    text-decoration:none;
    color:#fff;
    background:#0081be;
    display:inline-block;
    padding:15px 12px 15px 15px;
    transition:background 200ms;
    border-radius:4px;
}
.affairs {
    margin-top: 15px;
    overflow: hidden;
    transition-property: height;
    height: 0;
    transition-duration: 300ms;
}
.aside {
    display:flex;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 25px;
    padding-top: 15px;
}

.color-picker {
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 25px;
    background-color: #f5f5f5;
}

.color-picker svg {
    width: 1.25em;
    height: 1.25em;
    fill: #014DFE;
}

.color-picker-swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    cursor: pointer;
}

.color-picker-swatch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition-property: height;
    height: 0px;
    transition-duration: 300ms;
}

#color-picker-swatch-steelblue,
#color-picker-swatch-purple,
#color-picker-swatch-cornflowerblue,
#color-picker-swatch-salmon,
#color-picker-swatch-default {
    margin-top: 5px;
    width: 33px;
    height: 33px;
}

#color-picker-swatch-steelblue {
    background-color: SteelBlue;
}

#color-picker-swatch-purple {
    background-color: purple;
}

#color-picker-swatch-cornflowerblue {
    background-color: cornflowerblue;
}

#color-picker-swatch-salmon {
    background-color: salmon;
}
#color-picker-swatch-default {
    background: linear-gradient(72.89deg, #0A0E12 0.63%, #27313A 100%);
}
.button-delete .icon {
    pointer-events: none;
}


.block-off-sounds {
}

.mute svg {
    fill: #014DFE;
    width: 2em;
    height: 2em;
}

.mute {
    border: none;
    cursor: pointer;
    margin: 20px 0 0 10px;
    padding: 13px 10px 10px 13px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

#sound-icon-1 {
    display: block;
}

#sound-icon-2 {
    display: none;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
